.idea
.cache
.vscode

hhe_libs

frameworks/**/.idea
frameworks/**/.cache
frameworks/**/.vscode

frameworks/**/build
frameworks/**/cmake-build-debug
frameworks/**/helib.log

frameworks/**/thirdparty/tfhe
frameworks/**/thirdparty/HElib
frameworks/**/thirdparty/SEAL
frameworks/**/thirdparty/GMP
frameworks/**/thirdparty/NTL
frameworks/**/thirdparty/m4ri


frameworks/**/core